.stepsWrapper {
    width: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 900px) {
        width: 90%;
    }
}

.root {
    width: 100%;
    overflow: scroll;
}