.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stepsWrapper {
    width: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 900px) {
        width: 90%;
    }
}

.slideWrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.slideContent {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
}

.backButton{
    position: absolute;
    bottom: 0;
    right: 0;
}