.containerForm {
    width: 600px;
}

.box {
    position: relative;

    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-8));

    border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    border-radius: var(--mantine-radius-lg);
    padding: var(--mantine-spacing-md);

    margin-top: var(--mantine-spacing-md);

    width: 600px;
    min-height: 350px;

    transition: width 200ms ease;
}

.containerMessage{
    position: absolute;
    z-index: 1;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    
    border-radius: var(--mantine-radius-xl);

    padding: 1rem;

    background-color: light-dark(#f1f3f5c7, #1f1f1fd8);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.messages {
    width: 100%;
    height: 100%;
    border-radius: var(--mantine-radius-md);

    display: flex;
    align-items: center;
    justify-content: center;

    animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.loading {
    z-index: 0;
}

.startButton {
    opacity: 0.2;

    transition: opacity 200ms ease;
}


.tableTr:hover {

    .startButton{
        opacity: 1;
    }
}

table, thead, tr {
    width: 100%;
}

.tableHeaderName {
    width: 45%;
}

.tableHeaderDocument {
    width: 45;
}

.tableHeaderAction {
    width: 10%;
}