.containerForm {
    width: 600px;

    @media (max-width: 900px) {
        width: 90%;
    }
}

.box {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-8));

    border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    border-radius: var(--mantine-radius-lg);
    padding: var(--mantine-spacing-md);

    margin-top: var(--mantine-spacing-md);

    width: 600px;
    min-height: 350px;

    @media (max-width: 900px) {
        width: 90%;
    }

    transition: width 200ms ease;
}

.containerLoading{
    position: relative;

    width: 100%;
    height: 100%;
}

.messages {
    position: absolute;
    z-index: 1;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    border-radius: var(--mantine-radius-md);

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: light-dark(#f1f3f5c7, #1f1f1fc7);

    animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.loading {
    z-index: 0;
}

.startButton {
    opacity: 0.2;

    transition: opacity 200ms ease;
}

.table:hover {

    .startButton{
        opacity: 1;
    }
}